# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL

#RewriteCond %{REQUEST_URI} !^/index\.php
#RewriteCond %{REQUEST_URI} !^/help\.php
#RewriteCond %{REQUEST_URI} !^/logo64\.png

RewriteRule "^([ +0-9a-zA-Z/_.]+)$"   index.php?request=$1 [nc,qsa]